@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.text-heading {
		@apply text-lg lg:text-3xl mx-auto lg:w-textWidth xl:w-textWidthXL font-medium leading-normal lg:leading-snug mb-textMargin mt-sectionMargin xl:mt-sectionMarginXL;
	}
	.text-paragraph {
		@apply text-sm leading-normal lg:leading-loose mx-auto lg:text-base lg:w-textWidth xl:w-textWidthXL;
	}
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
